# extract_rgen_nc.py dependencies
# Requires Python >= 3.10

pandas

# image_processing_1_red_projection.py dependencies
opencv-python
numpy
matplotlib
Pillow

# image_processing_3_morphology.py dependencies
scikit-image
